@font-face {
  font-family: "Arboria-Light";
  src: url("fonts/bf7395f715c4c074d2a39e1c273afbaa.eot"); /* IE9*/
  src: url("fonts/bf7395f715c4c074d2a39e1c273afbaa.eot?#iefix") format("embedded-opentype"),
      /* IE6-IE8 */ url("fonts/bf7395f715c4c074d2a39e1c273afbaa.woff2") format("woff2"),
      /* chrome、firefox */ url("fonts/bf7395f715c4c074d2a39e1c273afbaa.woff") format("woff"),
      /* chrome、firefox */ url("fonts/bf7395f715c4c074d2a39e1c273afbaa.ttf") format("truetype"),
      /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
          url("fonts/bf7395f715c4c074d2a39e1c273afbaa.svg#Arboria-Light") format("svg"); /* iOS 4.1- */
}
@font-face {
  font-family: "Arboria-Medium";
  src: url("fonts/dda65d7f418f4ab23abf484c807c9f17.eot"); /* IE9*/
  src: url("fonts/dda65d7f418f4ab23abf484c807c9f17.eot?#iefix") format("embedded-opentype"),
      /* IE6-IE8 */ url("fonts/dda65d7f418f4ab23abf484c807c9f17.woff2") format("woff2"),
      /* chrome、firefox */ url("fonts/dda65d7f418f4ab23abf484c807c9f17.woff") format("woff"),
      /* chrome、firefox */ url("fonts/dda65d7f418f4ab23abf484c807c9f17.ttf") format("truetype"),
      /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
          url("fonts/dda65d7f418f4ab23abf484c807c9f17.svg#Arboria-Medium") format("svg"); /* iOS 4.1- */
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: normal normal 300 18px/43px Arboria-Light;
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.column {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.logo {
  width: 100%;
  max-width: 300px;
}

.image {
  min-width: 80%;
}
.image div {
  border-radius: 36px;
  transform: rotate(4deg);
}

.content p {
  margin: 0;
}

.button {
  background-color: #D6F9F5;
  border-radius: 36px;
  display: flex;
  align-items: center;
  padding: 26px 38px;
  color: #000;
  text-decoration: none;
  margin-top: 20px;
}
.button:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 576px) {
  body {
    font-size: 22px;
  }
}
@media only screen and (min-width: 1024px) {
  body {
    font-size: 26px;
  }
  .layout-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .column {
    margin: 0;
  }
  .image {
    min-width: 60%;
  }
}